#inbox input {
  width: 450px;
  height: 40px;
  border: rgb(58, 58, 58) 1px solid;
  font-size: 10px;
  padding: 10px;
}
#login_btn input {
  width: 450px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border-style: none;
  background-color: #3246aa;
  font-size: 15px;
}
#inbox {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 200px);
}
#textid {
  margin-left: 310px;
  color: rgb(128, 128, 128);
  font-size: 14px;
}
.box_list1 {
  padding: 10px;
}
.box_list2 {
  padding: 10px;
}
