#container a {
  text-decoration: none;
  color: rgb(82, 82, 82);
}

#container a:hover {
  color: #3246aa;
  cursor: pointer;
}

#container {
  padding-left: 50px;
  padding-right: 50px;
  width: (100%-100px);
  height: 120px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  color: rgb(82, 82, 82);
}

#bottom_img {
  margin-bottom: 22px;
}

#bottom_btn {
  margin-bottom: 50px;
}

#bottom_btn input {
  width: 350px;
  height: 40px;
  color: white;
  border-radius: 20px;
  border-style: none;
  background-color: #3246aa;
  font-size: 15px;
}
