#container a {
  text-decoration: none;
  color: rgb(82, 82, 82);
}

#container a:hover {
  color: pink;
  cursor: pointer;
}

#container {
  padding-left: 50px;
  padding-right: 50px;
  width: (100%-100px);
  height: 120px;
  display: flex;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  color: rgb(82, 82, 82);
}